# Set the maximum allowed file upload size
php_value post_max_size 32M
php_value upload_max_filesize 32M

# Secure the folder
# Use 'htpasswd -c username' to create an .htpasswd file
AuthUserFile /vagrant/.htpasswd
AuthName "Personal Inventory"
AuthType Basic

require valid-user
