<?php

/**
 *
 * Configuration definitions
 *
 */

class Config {
	
	// The values below will work if using the bundled Vagrant setup
	const dbHost = 'localhost';
	const dbName = 'inventory';
	const dbUser = 'vagrant';
	const dbPass = 'vagrant';

}
